.Contain-Products {
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-around;
	padding: 0px;
	gap: 10px;
	overflow-x: au;
}

.Contain-Products {
	margin: 0 auto;
	background: transparent;
	gap: 7px;
	color: var(--txtColor);
	height: auto;
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	box-sizing: border-box;
	transition: all 250ms;
}

.Container-main-product {
	position: relative;
	width: 200px;
	height: 355px;
	background: var(--color6);
	box-shadow: 0px 0px 3px var(--borderColor);
	border: 1px solid var(--borderColor);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	border-radius: var(--ALLR);
	padding: 3px;

}

.Product-img {
	width: 195px;
	height: 195px;
	/*border:2px solid var(--azul);*/
	box-sizing: border-box;
	flex-shrink: 0;
	border-radius: var(--ALLR);
	object-fit: cover;
	transition: 350ms all;
}

.Product-text-zone {
	width: 195px;
	height: 120px;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
}

.Product-text-zone>* {
	color: var(--textBlack);
	/* text-shadow: 0.5px 0.5px 10px rgb(0, 0, 0); */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	text-align: start;
}

.Product-text-zone :nth-child(1) {
	font-style: italic;
	font-size: 1.2rem;
}

.Product-text-zone :nth-child(2) {
	font-style: bold;
	font-size: 1.1rem;

}

.Product-text-zone :nth-child(3) {
	font-size: 0.8rem;
}

.Button-product-zone {
	width: 100%;
	height: 25px;
	gap: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	transition: 250ms all;
}

.AddToCar {
	position: relative;
	width: 100%;
	height: 25px;
	border-radius: var(--ALLR);
	border: 1px solid var(--color3);
	background: var(--color3);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	gap: 15px;
	overflow: hidden;
	transition: all 350ms;
	opacity: 1;

}

.AddToCar img {
	width: 15px;
	filter: invert(0);
}

.AddToCar.Active {
	position: absolute;
	animation: Del 250ms both;
}

.DeleteToCar {
	position: absolute;
	height: 100%;
	width: 100%;
	max-height: 25px;
	border-radius: var(--ALLR);
	border: none;
	box-sizing: border-box;
	background: var(--color1);
	display: none;
	align-items: center;
	justify-content: center;
	color: var(--btntxtcolor2);
	gap: 15px;
	flex-shrink: 0;
	transition: 250ms all;
	opacity: 0;
}

.DeleteToCar.Active {
	animation: Act 250ms both;

	display: flex;
}

@keyframes Act {
	100% {
		display: flex;
		opacity: 1;
		bottom: 0%;
		position: relative;
	}

	50% {
		bottom: -100px;
	}
}

@keyframes Del {
	to {

		display: none;
		opacity: 0;
		bottom: -100px;
	}

	0% {
		bottom: 0%;
	}
}

.DeleteToCar img {
	max-width: 0px;

}

.DeleteToCar.Active img {
	max-width: 15px;
	filter: invert(var(--OnInvert));
}



.Favorites-icon {
	width: 20px;
	object-fit: cover;
	position: absolute;
	right: 10px;
	top: 210px;
	filter: invert(var(--OnInvert));
	z-index: 100;
}

@media (max-width:770px) {
	.Contain-Products {
		margin: 0;
		top: 0;
		opacity: 1;
		height: 95vh;


		width: 100%;

		position: relative;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: start;
		justify-content: start;
		box-sizing: border-box;
		padding: 0px;
		gap: 5px;


	}

	.Container-main-product {
		position: relative;
		width: auto;
		height: 150px;

		box-shadow: none;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2px;
		padding: 3px;

	}

	.Contain-Products {
		margin: 0;
		background: transparent;
		row-gap: 5vw;
		color: var(--txtColor);
		height: 94vh;
		width: 360px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-between;
		box-sizing: border-box;
		transition: all 250ms;
		padding: 0px;
		
		overflow-y: none;
		position: relative;
	}

	:root {
		--WProduct: 170px;
	}

	.Container-main-product {
		position: relative;
		width: auto;
		height: auto;
		max-width: var(--WProduct);
		border: none;
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: start;
		flex-wrap: wrap;
		border-radius: var(--ALLR);
		padding: 0px;
		box-shadow: var(--Shadow);
		transition: all 250ms;

	}

	

	@keyframes izq {
		100% {
			display: flex;
			opacity: 1;
			left: 0;
			position: relative;
		}

		50% {
			left: -200vw;
		}
	}

	.Section2P {
		padding: 3px;
		background: #0E0E1040;
		position: absolute;
		width: var(--WProduct);
		box-sizing: border-box;
		bottom: 0;
		border-radius: var(--ALLR);
		overflow: hidden;
		opacity: 1;
		transition: 250ms all;
		user-select: none;
	}

	.Section2P>.Button-product-zone {
		
		height: 0;
		opacity:0;
	}

	.Container-main-product:hover>.Section2P {
		opacity: 1;
		
	}

	.Container-main-product:hover>.Section2P>.Button-product-zone {
		height: 25px;
		opacity: 1;
	}

	.Favorites-icon {
		width: 20px;
		object-fit: cover;
		position: absolute;
		right: 10px;
		top: 180px;
		display: none;
	}

	.Product-img {
		width: var(--WProduct);
		height: var(--WProduct);


		/*border:2px solid var(--azul);*/

		box-sizing: border-box;
		flex-shrink: 0;
		object-fit: cover
	}

	.Product-text-zone {
		color: var(--txtColor2);
		width: 100%;
		height: auto;
		overflow: hidden;
		box-sizing: border-box;
		flex-direction: row;
		align-items: start;
		justify-content: start;
		flex-wrap: wrap;
		overflow: hidden;

		gap: 0;
	}

	.Product-text-zone>* {
		

		overflow: hidden;
		white-space: wrap;
		text-wrap: nowrap;
		text-overflow: ellipsis;
		width: 100%;

	}

	.Product-text-zone :nth-child(1) {

		font-style: italic;
		font-size: 1.2rem;
	}

	.Product-text-zone :nth-child(2) {
		font-style: bold;
		font-size: 1.1rem;

	}

	.Product-text-zone :nth-child(3) {

		display: none;
		font-size: 0.8rem;
	}

	.AddToCar {

		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--txtColor2);
		gap: 15px;
		transition: 250ms all;
	}




	.AddToCar img {
		filter: invert(var(--OnInvert2))
	}

	/* .AddToCar:hover{
        background:#6987FF ;
        color: #fff;
    }*/
}